@charset "UTF-8";
html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  letter-spacing: 0.1em;
  color: #333;
}

.inner {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 40px;
}

.sec-ttl {
  font-weight: 700;
  font-size: 3.6rem;
  text-align: center;
  color: #1b224c;
}

.page-sec-ttl {
  font-weight: 700;
  font-size: 3.2rem;
  text-align: center;
  color: #1b224c;
}

.page-container {
  padding: 58px 0 45px;
}