@use "../../../base/variable" as v;
.feature {
  padding: 60px 0 40px;
  &__list {
    display: flex;
    flex-direction: column;
    gap: 60px 0;
    margin: 60px 0 0;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    gap: 0 5%;
    &:nth-child(even) {
      flex-direction: row-reverse;
    }
    &__thumb {
      max-width: 350px;
      width: 100%;
    }
  }
  &__body {
    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse;
    max-width: 500px;
    width: 100%;
    &__txt {
      margin: auto 0 0;
      color: v.$mainColor;
      &-ttl {
        font-weight: 700;
        font-size: 2.6rem;
        line-height: 1.5;
      }
      &-desc {
        margin: 20px 0 0;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.68;
        letter-spacing: -0.04em;
      }
      &03 {
        margin: 35px 0 0;
      }
    }
    &-label {
      display: block;
      padding: 8px 0;
      width: 90px;
      font-weight: 500;
      font-size: 1.2rem;
      text-align: center;
      background: v.$accentColor;
      color: #fff;
    }
  }
  &__foot {
    margin: 93px 0 0;
    padding: 60px 0 53px;
    background: url(../../images/webp/feature_foot.webp) no-repeat center/cover;
    color: #fff;
    &-ttl {
      font-weight: 700;
      font-size: 2.6rem;
      text-align: center;
    }
    &-btn {
      display: block;
      margin: 27px auto 0;
      padding: 16px 0;
      width: 200px;
      font-weight: 700;
      font-size: 1.6rem;
      text-align: center;
      border: 1px solid #fff;
      border-radius: 30px;
    }
  }
}
