@charset 'UTF-8';

@use "../base/variable" as v;
@use "../util/header";
@use "../util/page-head";
@use "../util/breadcrumbs";
@use "../util/cta";
@use "../util/footer";

.blog-post {
  &__inner {
    display: flex;
    gap: 0 36px;
  }
}
.post {
  max-width: 590px;
  width: 100%;
  color: v.$mainColor;
  &__head {
    display: flex;
    flex-direction: column-reverse;
    &-ttl {
      margin: 30px 0 0;
      font-weight: 700;
      font-size: 2.8rem;
    }
  }
  &__share {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .sfsi_plus_widget {
      width: 50%;
    }
    &-date {
      font-weight: 500;
      font-size: 1.6rem;
    }
  }
  &__body {
    padding: 40px 0 60px;
    h2 {
      font-weight: 700;
      font-size: 2.6rem;
    }
    h3 {
      margin: 30px 0 0;
      padding: 3px 0 3px 10px;
      font-weight: 700;
      font-size: 2.2rem;
      border-left: 4px solid v.$mainColor;
    }
    p {
      margin: 30px 0 0;
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 1.5;
      a {
        font-weight: 500;
        font-size: 1.8rem;
        color: #f5a623;
        text-decoration: underline;
      }
    }
    blockquote {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 0 10px;
      margin: 30px 0 0;
      padding: 0 26px 0 17px;
      background: #f8f8f8;
      &:before {
        content: "“";
        margin: 10px 0 0;
        font-weight: 500;
        font-size: 9rem;
        color: #b4b4b4;
      }
    }
  }
  .size-post-thumbnail {
    margin: 22px 0 0;
  }
  img {
    width: 100%;
  }
  ul {
    margin: 30px 0 0;
    display: flex;
    flex-direction: column;
    gap: 8px 0;
    li {
      display: flex;
      gap: 0 20px;
      padding: 0 0 0 30px;
      width: 100%;
      font-weight: 500;
      font-size: 1.6rem;
      list-style-type: none;
      position: relative;
      &::before {
        content: "";
        width: 10px;
        height: 10px;
        background: #f5a623;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }
  }
}
.sidebar {
  display: inline-block;
  width: 269px;
  color: v.$mainColor;
  &__ttl {
    padding: 18px 0;
    font-weight: 700;
    font-size: 2.1rem;
    text-align: center;
    background: v.$mainColor;
    color: #fff;
  }
  &__connection {
    &__list {
      display: flex;
      flex-direction: column;
      gap: 39px 0;
      padding: 30px 0;
    }
    &-link {
      display: flex;
      gap: 0 17px;
      img {
        width: 100px;
        height: 70px;
        object-fit: cover;
      }
    }
    &-ttl {
      font-weight: 500;
      font-size: 1.2rem;
      text-decoration: underline;
    }
  }
  &__category {
    &__list {
      padding: 30px 0;
    }
    &__item {
      font-weight: 700;
      font-size: 1.6rem;
      &:not(:first-child) {
        margin: 16px 0 0;
      }
    }
  }
}
.post-categories {
  display: inline-block;
  padding: 9px 0 10px;
  width: 110px;
  font-weight: 500;
  font-size: 1.2rem;
  color: #fff;
  background: v.$mainColor;
  text-align: center;
  &::before {
    display: none;
  }
}
.reccomend {
  &-ttl {
    font-weight: 700;
    font-size: 2.6rem;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 28px 0 !important;
    padding: 30px 0;
  }
  &-link {
    display: flex;
    gap: 0 17px;
    img {
      width: 210px;
      object-fit: cover;
    }
    .size-post-thumbnail {
      margin: 0;
    }
  }
  &__item {
    &__body {
      display: flex;
      justify-content: flex-end;
      flex-direction: column-reverse;

      &-ttl {
        margin: 29px 0 0;
        font-weight: 700;
        font-size: 1.8rem;
        text-decoration: underline;
      }
      &-date {
        font-weight: 500;
        font-size: 1.6rem;
      }
    }
  }
}
