@charset "UTF-8";
.header {
  padding: 15px 0;
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 10;
}
@media not screen and (min-width: 1200px) {
  .header {
    overflow-x: hidden;
  }
}
.header__inner {
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.header .logo {
  margin: 0 28px 0 0;
  width: 136px;
}
.header .logo-image {
  width: 100%;
}
@media not screen and (min-width: 992px) {
  .header .g-nav {
    display: none;
  }
}
.header .g-nav__list {
  display: flex;
  gap: 0 28px;
}
.header .g-nav__item {
  font-weight: 700;
  font-size: 1.6rem;
  color: #1b224c;
}
.header .slide-menu {
  display: none;
}
@media not screen and (min-width: 992px) {
  .header .slide-menu {
    display: flex;
    flex-direction: column;
    padding: 10% 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    position: fixed;
    top: 0;
    right: -100vw;
    transition: ease-in 0.5s;
    z-index: 15;
  }
}
.header .slide-menu.is-show {
  right: 0;
  transition: ease-in 0.5s;
}
.header .slide-menu__logo {
  display: block;
  margin: 0 auto;
  width: 200px;
}
@media not screen and (min-width: 992px) {
  .header .slide-menu .g-nav {
    display: block;
    margin: auto 0;
    width: 100%;
  }
}
@media not screen and (min-width: 992px) {
  .header .slide-menu .g-nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px 0;
  }
  .header .slide-menu .g-nav__item {
    font-size: 2rem;
  }
}
@media not screen and (min-width: 992px) {
  .header .slide-menu .contact__action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 20px;
    margin: auto;
  }
}
.header .contact {
  display: flex;
  margin: 0 0 0 auto;
}
.header .contact__detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.header .contact__detail-openclose {
  font-weight: 500;
  font-size: 1.2rem;
  color: #1b224c;
}
.header .contact__detail-tel {
  display: flex;
  flex-direction: row-reverse;
  margin: 10px 0 0;
  font-weight: 700;
  font-size: 1.6rem;
}
.header .contact__detail-icon {
  margin: 0 5px 0 0;
  width: 10px;
}
.header .contact__action {
  display: flex;
  gap: 0 10px;
  margin: 0 0 0 23px;
}
@media not screen and (min-width: 992px) {
  .header .contact__action {
    display: none;
  }
}
.header .contact__action-btn {
  padding: 18px 0;
  width: 142px;
  font-weight: 700;
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
  border-radius: 5px;
}
.header .contact__action-btn.request {
  background: #f5a623;
}
.header .contact__action-btn.inquiry {
  background: #1b224c;
}
.header .js-btn {
  display: none;
}
@media not screen and (min-width: 992px) {
  .header .js-btn {
    display: block;
    margin-left: 5%;
    width: 25px;
    height: 20px;
    position: relative;
    z-index: 20;
  }
}
.header .js-btn span {
  display: inline-block;
  width: 100%;
  height: 1.5px;
  background: #ccc;
  position: absolute;
  left: 0;
}
.header .js-btn span:nth-child(1) {
  top: 0;
  transition: all 0.5s;
}
.header .js-btn span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
  transition: opacity 0.5s;
}
.header .js-btn span:nth-child(3) {
  bottom: 0;
  transition: all 0.5s;
}
.header .js-btn.is-active span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  transition: all 0.5s;
}
.header .js-btn.is-active span:nth-child(2) {
  opacity: 0;
  transition: opacity 0.5s;
}
.header .js-btn.is-active span:nth-child(3) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  transition: all 0.5s;
}

.page-head {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 0;
  height: calc(35vh - 82px);
}
.page-head.price {
  background: url(../../images/webp/page-head_price.webp) no-repeat center/cover;
}
.page-head.blog, .page-head.blog-post {
  background: url(../../images/webp/page-head_blog.webp) no-repeat center/cover;
}
.page-head.news, .page-head.news-post {
  background: url(../../images/webp/page-head_news.webp) no-repeat center/cover;
}
.page-head.contact {
  background: url(../../images/webp/page-head_contact.webp) no-repeat center/cover;
}
.page-head__ttl {
  font-weight: 700;
  font-size: 3.2rem;
  color: #fff;
}

.breadcrumbs {
  padding: 19px 0;
  background: #f8f8f8;
}
.breadcrumbs span {
  font-weight: 500;
  font-size: 1.2rem;
  color: #1b224c;
}
.breadcrumbs span a {
  text-decoration: underline;
}

.fee {
  padding: 58px 0 45px;
}
.fee__figure {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 35px;
  margin: 60px 0 0;
}
.fee__figure__box {
  padding: 34px 0;
  width: 280px;
  font-weight: 700;
  font-size: 2.2rem;
  text-align: center;
  background: #1b224c;
  color: #fff;
}
.fee__figure__icon {
  width: 26.5px;
  height: 26.5px;
  position: relative;
}
.fee__figure__icon::before, .fee__figure__icon:after {
  content: "";
  display: inline-block;
  width: 26.5px;
  height: 2px;
  background: #1b224c;
  position: absolute;
}
.fee__figure__icon::before {
  top: 50%;
  transform: translateY(-50%);
}
.fee__figure__icon::after {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
}
.fee__desc {
  margin: 45px 0 0;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.68;
  color: #1b224c;
}

.course {
  padding: 45px 0 60px;
}
.course__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0 6px;
  margin: 70px 0 0;
}
.course__item {
  width: 100%;
}
.course__item-ttl {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px 0 18px;
  font-weight: 700;
  font-size: 1.6rem;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #1b224c;
  color: #fff;
}
.course__item-ttl.accent {
  height: 96px;
  line-height: 30px;
  background: #f5a623;
}
.course__item__body {
  padding: 30px 20px 0;
  min-height: 412px;
  text-align: center;
  border: 0.5px solid #1b224c;
  border-top: none;
}
.course__item__body-price {
  font-weight: 700;
  font-size: 2.5rem;
}
.course__item__body-small {
  font-weight: 500;
  font-size: 1.6rem;
  color: #1b224c;
}
.course__item__list {
  display: flex;
  flex-direction: column;
  gap: 19px 0;
  margin: 50px 0 0;
}
.course__item__list__item {
  font-weight: 500;
  font-size: 1.6rem;
  color: #1b224c;
}
.course__item__list__item::before {
  content: "✔︎";
}
.course__item:last-child .course__item__list__item::before {
  content: "";
}

.cta__inner {
  padding: 70px 0 41px;
  background: url(../../images/webp/cta_bg.webp) no-repeat center/cover;
  text-align: center;
}
.cta__ttl {
  font-weight: 700;
  font-size: 3.2rem;
  color: #f8f8f8;
}
.cta__btn {
  display: block;
  margin: 16px auto 22px;
  padding: 22px 0;
  width: 280px;
  font-weight: 700;
  font-size: 1.6rem;
  background: #f5a623;
  color: #fff;
  border-radius: 30px;
}
.cta__link {
  font-weight: 500;
  font-size: 1.6rem;
  color: #fff;
  text-decoration: underline;
}
.cta__foot {
  padding: 20px 0 23px 60px;
  background: #fff;
  color: #1b224c;
}
.cta__foot__call {
  display: inline-block;
  font-weight: 700;
  font-size: 1.6rem;
  vertical-align: bottom;
}
.cta__foot__call-num {
  padding: 0 0 0 20px;
  font-size: 3.6rem;
}
.cta__foot__openclose {
  display: inline-block;
  padding: 0 0 0 20px;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.68;
}

.footer {
  background: #1b224c;
  color: #fff;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  padding: 35px 40px 70px;
}
.footer .f-nav__list {
  display: flex;
  gap: 0 43px;
}
.footer .f-nav__item {
  font-weight: 700;
  font-size: 1.6rem;
  position: relative;
}
.footer .f-nav__item:not(:last-child):before {
  content: "";
  width: 0.5px;
  height: 23px;
  background: #fff;
  position: absolute;
  top: 50%;
  right: -21.5px;
  transform: translateY(-50%);
}
.footer__company-logo {
  display: inline-block;
  padding: 14px 0 13px;
  width: 197px;
  height: 58px;
  text-align: center;
  background: #fff;
}
.footer__company-logo img {
  width: 159px;
}
.footer__company-tel {
  display: flex;
  flex-direction: row-reverse;
  margin: 27px 0 0;
  font-weight: 700;
  font-size: 1.6rem;
}
.footer__company-tel img {
  margin: 0 7px 0 0;
  width: 10px;
}
.footer__company-openclose {
  display: flex;
  justify-content: flex-end;
  margin: 13px 0 0;
  font-weight: 500;
  font-size: 1.2rem;
}
.footer__copy {
  padding: 12px 0;
  text-align: right;
  background: #fff;
}
.footer__copy-txt {
  font-weight: 700;
  font-size: 1.2rem;
  color: #1b224c;
}